.heading{
    color : red;
    background-color : grey;
}
.block-style{
    gap: 20px;
    flex-wrap: wrap;
}
.card-style{
   border: 1px solid #cccccc54;
    width: 200px;
    box-shadow: 2px 0px 2px 2px #cccccc8a;
}
.img-style{
    width: 200px;
    padding: 2px;
}